body {
    background: url(../images/bg-desktop.svg) no-repeat;
    background-size: contain;
    background-color: #674BB2;
    padding: 50px 80px;
}

.logo{
    margin-bottom: 80px;
}

.conteudo {
    display: flex;
}

.conteudo .conteudo-principal{
    width: 40%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 100px;
}

.conteudo .conteudo-principal .titulo {
    color: white;
    font-size: 2.1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 50px;
    font-weight: 600;
    margin-bottom: 2cqw;
}

.conteudo .conteudo-principal .subtitulo {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px;
    font-weight: 400;
    margin-bottom: 20px;
}

.conteudo .conteudo-principal .btn {
    width: 200px;
    background-color: white;
    border: none;
    padding: 20px 30px;
    border-radius: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #8d80b7;
    box-shadow: 4px 4px 10px #4b4954;
}

.rodape img{
    width: 20px;
}

.rodape {
    display: flex;
    justify-content: flex-end;
    gap
}