body {
    background: url(../images/bg-desktop.svg) no-repeat;
    background-size: contain;
    background-color: #674BB2;
    padding: 50px 80px;
}

.logo{
    font-style: normal;
    margin-bottom: 50px;
}